html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.canvas-draggable {
  flex-grow: 1;
  display: flex;
}

.canvas {
    flex-grow: 1;
}
